body {
  margin: 0;
}

.transaction-table-app {
  font-family: arial;

  .search-bar {
    background-color: #f1c40f;
    padding: 6px;

    input {
      border: none;
      outline: none;
      padding: 6px;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;

    button {
      border: none;
      outline: none;
      cursor: pointer;
      background-color: transparent;
      color: #fff;
    }

    th {
      background-color: #2d2d2d;
      color: #fff;
    }

    tr:nth-child(even) {
      background-color: #d2d2d2;
    }

    td,
    th {
      padding: 6px;
      text-align: left;
    }
  }
}
